*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container1{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
   /* ======= NAVBAR ======= */
        .navbar {
            padding: 15px 30px;
            display: flex;
            align-items: center;
        }
        nav {
            flex: 1;
            text-align: right;
        }
        
        nav a {
            text-decoration: none;
            padding: 6px 20px;
            color: whitesmoke;
            font-weight: 500;
            font-size: 1.1em;
            position: relative;
            transition: .5s;
        }
        nav a:hover {
            color: #0ef;
        }

        nav a span{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-bottom: 2px solid #0ef;
            border-radius: 15px;
            transform: scale(0) translateY(50px);
            opacity: 0;
            transition: .5s;
        }        

        nav a:hover span{
            transform: scale(1) translateY(0);
            opacity: 1;
        }   
        .logo {
            width: 150px;
        }

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="tel"] 
.form-container input[type="Mobile Number"] 
.form-container input[type="Address"] 
{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ff9900;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #ff6600;
}
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }
}