/* RESET */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

/* MAIN CONTAINER */

/* MAIN CONTAINER */
.container1{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
/* ======= NAVBAR ======= */
        .navbar {
            padding: 15px 30px;
            display: flex;
            align-items: center;
        }
        nav {
            flex: 1;
            text-align: right;
        }
        
        nav a {
            text-decoration: none;
            padding: 6px 20px;
            color: whitesmoke;
            font-weight: 500;
            font-size: 1.1em;
            position: relative;
            transition: .5s;
        }
        nav a:hover {
            color: #0ef;
        }

        nav a span{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-bottom: 2px solid #0ef;
            border-radius: 15px;
            transform: scale(0) translateY(50px);
            opacity: 0;
            transition: .5s;
        }        

        nav a:hover span{
            transform: scale(1) translateY(0);
            opacity: 1;
        }   
        .logo {
            width: 150px;
        }


/* ============== CONTENT ============== */
.content{
    margin-top: 10%;
    color: #fff;
    max-width: 620px;
}

.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

/* ============== BUTTON ============== */
.btn {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
}

.btn:hover {
    background-color: #2c974b;
}

h1, h2 {
    color: white;
}
p {
    color: whitesmoke;
}